/.vs/WebApi/FileContentIndex/1849ea91-04e2-475c-9776-2f9457e6fd89.vsidx
/WebApi/.vs/WebApi/FileContentIndex/748b2e36-8b37-4797-b1f5-be50d704fcff.vsidx
/WebApi/.vs/WebApi/FileContentIndex/b4a58e10-dd41-4ef1-bbac-59fedfe00f66.vsidx
/WebApi/.vs/WebApi/FileContentIndex/0aa93ab7-b417-4d69-8560-8af0f8aaa7b7.vsidx
/WebApi/.vs/WebApi/FileContentIndex/1aef3070-1c3d-4137-ab4b-cffcb7e818f7.vsidx
/WebApi/.vs/WebApi/FileContentIndex/2f5ad608-4bad-4a62-9a79-87ba2fa36d92.vsidx
/WebApi/.vs/WebApi/FileContentIndex/532aafae-8c6f-40a5-aef1-84ce213dcdef.vsidx
/WebApi/.vs/WebApi/FileContentIndex/eed22776-44a9-409e-8020-80fc170e6ef0.vsidx
/WebApi/.vs/WebApi/FileContentIndex/0af9fd14-4342-4c39-b245-b6e6c5c80f3c.vsidx
/WebApi/.vs/WebApi/v17/DocumentLayout.backup.json
